@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Signika:wght@300&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Lato', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika', sans-serif;
}

.header h1 {
  margin-left: -7rem;
  margin-right: -10rem;
  font-size: 2.5rem;
  text-align: center;
}

.disclaimer {
  text-align: center;
  margin-top: 5rem;
  font-size: 0.8rem;
  font-style: italic;
  color: red;
}

.footer p {
  color: black;
  font-size: 0.7rem;
  text-align: right;
  margin-right: -15rem;
  margin-bottom: -2rem;
}

@media screen and (max-width: 1024px) {
  .header h1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2rem;
  }
  .disclaimer {
    margin-top: 2rem;
  }
  .footer p {
    margin-right: 0;
  }
}
